@font-face {
    font-family: 'yg-jalnan';
    src: url('JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  font-family: sans-serif;
}

.inner {
  display: flex;
}

h1 {
  display: block;
  margin-bottom: 1rem;
  font-size: 4rem;
  font-weight: bolder;
  text-align: center;
  margin-top: 1rem;
  color: #202121;
  font-family: 'yg-jalnan';
}

h2 {
  display: block;
  margin-bottom: 2rem;
  text-align: center;
  font-size: 2.2rem;
  font-weight: bold;
}

body {
  background: rgb(181,216,255);
  background: linear-gradient(0deg, rgba(181,216,255,1) 0%, rgba(235,244,255,1) 50%, rgba(230,242,255,1) 100%);
}


fieldset {
  padding: 5px;
  border: none;
  margin-top: 2rem;
}

fieldset > legend {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.menu {
  width: 20%;
  overflow: auto;
  border: 1px solid grey;
  border-radius: 5px;
  -webkit-box-shadow: 2px 2px 15px 5px rgba(0, 0, 0, 0.26);
  box-shadow: 2px 2px 15px 5px rgba(0, 0, 0, 0.26);
  height: 700px;
  background-color: white;
}

.main {
  width: 80%;
  padding-left: 1rem;
}

.start {
  width: 100%;
  margin-top: 1rem;
  border: none;
  font-size: 1.5rem;
  padding: 10px;
  cursor: pointer;
  background-color: #e8e8e8;
}

.start:hover {
  background-color: #afafaf;
}

canvas {
  display: block;
  margin: 0 auto;
}

footer {
  font-size: 0.8rem;
  font-style: italic;
  color: #5d5d5d;
  margin-top: 1rem;
}

#label-container {
  margin-top: 2rem;
  display: flex;
  font-size: 1.3rem;
  justify-content: space-evenly;
}

#label-container > div {
  margin-right: 1rem;
  padding: 5px;
  border-radius: 10px;
  background-color: rgb(246, 246, 246);
  min-width: 30%;
  text-align: center;
}

.max {
  background-color: rgb(255, 216, 145) !important;
}

#loading {
  font-size: 2rem;
  text-align: center;
  margin-top: 220px;
}

#status {
  margin: 1rem 0;
  font-size: 0.8rem;
}

.error {
  color: red;
}

.top {
  padding: 5px;
  display: flex;
  background-color: #5d5d5d;
}

.red {
  background-color: rgb(255, 126, 90);
  width: 10px;
  height: 10px;
  border-radius: 100%;
  margin-right: 5px;
}

.yellow {
  background-color: rgb(255, 180, 40);
  width: 10px;
  height: 10px;
  border-radius: 100%;
  margin-right: 5px;
}

.green {
  background-color: rgb(33, 215, 33);
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

.menu-content {
  padding: 10px;
}

img {
  width: 100%;
}

.cam {
  display: flex;
  justify-content: space-between;
  z-index: 101;
}

.cam > div {
  width: 450px;
  height: 550px;
  overflow-y: hidden;
}

#webcam-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.snow {
  position: absolute;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

.menu, .main {
  z-index: 101;
}

body {
  overflow: hidden;
}
