* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  font-family: "Noto Sans KR", sans-serif;
}

.inner {
  display: flex;
}

h1 {
  display: block;
  margin-bottom: 1rem;
  font-size: 4rem;
  font-weight: bolder;
  text-align: center;
  margin-top: 1rem;
}

h2 {
  display: block;
  margin-bottom: 2rem;
  text-align: center;
  font-size: 2.2rem;
  font-weight: bold;
}

fieldset {
  padding: 5px;
  border: none;
}

fieldset > legend {
  font-size: 1.5rem;
}

.menu {
  width: 20%;
  overflow: auto;
}

.main {
  width: 80%;
  padding-left: 1rem;
}

.start {
  width: 100%;
  margin-top: 1rem;
  border: none;
  font-size: 1.5rem;
  padding: 10px;
  cursor: pointer;
  background-color: #e8e8e8;
}

.start:hover {
  background-color: #afafaf;
}

canvas {
  display: block;
  margin: 0 auto;
}

footer {
  font-size: 0.8rem;
  font-style: italic;
  color: #5d5d5d;
  margin-top: 1rem;
}

#label-container {
  margin-top: 2rem;
  display: flex;
  font-size: 1.3rem;
  justify-content: space-evenly;
}

#label-container > div {
  margin-right: 1rem;
  padding: 5px;
  border-radius: 10px;
  background-color: rgb(246, 246, 246);
  min-width: 150px;
  text-align: center;
}

.max {
  background-color: rgb(255, 216, 145) !important;
}
